.card {
  position: relative;
  background-color: #fff;
  color: rgb(42, 48, 57);
  border: 0.0625rem solid rgb(215, 217, 226);
  border-radius: 0.875rem;
  box-shadow: rgb(215, 217, 226) 0px 1px 2px 0px;
  overflow: hidden;
}
.card:hover {
  box-shadow: rgb(215, 217, 226) 0px 2px 12px 0px;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
